<nz-layout>
  <nz-header style="display: flex; justify-content: space-between; position:absolute; z-index:900;width: 100%;">
    <div routerLink='/' class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li *ngIf="!logged" routerLink='/login' nz-menu-item>登录</li>
      <li *ngIf="!logged" routerLink='/register' nz-menu-item>注册</li>
      <li *ngIf="logged" (click)="jumpProfile(username)" nz-menu-item><i nz-icon nzType="user" nzTheme="outline"></i>{{username}}</li>
      <li *ngIf="logged" (click)="exit()" nz-menu-item>退出登录</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Group 8 ©2021 Implement By Angular</nz-footer>
</nz-layout>
